body{
  font-family: 'Poppins', sans-serif;
  
}
.container{
  width:900px;
  margin:0 auto;
}
section{
 padding:50px 0;
}
h1{
  font-weight: 700;
    font-size: 38px;
    margin-top: 0; 
}

/*........... nav sarted.............................. */
nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
nav ul{
  display:flex;
}
nav ul li{
  list-style: none;
  margin-right:30px;

}
nav ul li a{
  text-decoration: none;
  color: #3a3a3a;
}
.left{
  font-weight: bold;
  font-size:24px;
  
}
.right{
  font-size:16px;
  font-weight:600;
  margin-left:30px;
}
/* ...........top part........... */
.section1{
  display: flex;
 
}
.top-part{
  width:50%;
  margin-left:0px;
}
.camera{
  width:50%;
}
.button a{
  text-decoration: none;
  background-color: tomato;
  width:15%;
  padding: 10px 10px;
 border-radius: 10px;
 color:white; 
}
/* .........top part end ......*/
/* section2....brand ...name.... */
hr{
  border:0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
}
.section2 > .brand{
  display:flex;
  justify-content: space-evenly;
  align-items:center;
}
/* ............popular collection............... */
.section-tittle h2{
text-align: center;
}
.section3 {
  display:grid;
 grid-template-columns: repeat(3,1fr);
 grid-column-gap:30px ;
}
.section-tittle{
  align-items: center;
}
.popular-product{
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: #d9d9d9 0px 0px 40px;
}
.product{
  padding:15px;
}
.products .images img{
width:100%;
height: 250px;
border-radius:5px;
} 
 
.filled{
color:orange;
}
.emty{
  color:orange;
  font-size: 12px;
}
.fa-star{
  font-size: 12px;
}
.font-style{
  font-size:medium;
  padding-left: 10px;
}
.product-details{
  font-size: bold;
  font-weight: 700;
  width:100%;
}
.paragraph{
  color:royalblue;
}
/* ................section4 start............ */
.section4{
  display:flex;
  justify-content: space-between;
 
}
.section4-info{
 width:50%;
 padding-right: 40px;

}
.photo{
  width:50%;
  padding-top: 20px;
  padding-left: 5px;
  height: 30%;
}
.button3{
  text-decoration: none;
  font-weight: 400;
  color:white;
  padding-left: 10px;
 
}
.link-button3{
  background-color: tomato;
  padding:10px;
  width:110px;
  color:white;
}
/* ........footer part..... */
.last {
  text-align: center;
  background-color: skyblue;
  padding-top: 20px;
}
.last h3{
  margin-top:10px;
}
.last h2{
  margin-bottom:0;
}
.last p{
  margin-top:0;
}
.hard{
 
   text-align: right;
  display:flex;
  justify-content: flex-end;
  width:100%;

}
.hard a{
  text-decoration: none;
  color:orange;
}
.icon2{
margin:10px;
margin-top: 5px;
}
@media only screen and (max-width:688px){
  .section3{
    grid-template-columns: repeat(1,1fr);
  }
}